%h1 Admin Panel
%p It is admin panel for sportify

%h2 Sports

%a.btn.btn-lg.btn-primary{:href => sports_url}= t(".go_to_sports")

%h2 Places

%a.btn.btn-lg.btn-primary{:href => places_url}= t(".go_to_places")
